# Virtual Environment (Sanal Ortam)
venv/

# Python Cache (Önbellek)
__pycache__/
*.pyc
*.pyo
*.pyd

# Hassas Bilgiler (Credentials / Local Settings)
.env

# Geçici ve Test Dosyaları
uploads/
debug_grid_crops/
*.jpeg
*.jpg
*.png
*.zip
*.db
davetli_listesi.csv
davetli_listesi.json
db_dump.txt
raw_words.txt
hata.txt
tunnel_url.txt
cloudflared.exe
*.py~
.vscode/

# Test dosyalarını hariç tutma (Git takip etsin)
!test_files/
!test_files/*
